<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer class="slp-pt-96 slp-pb-96">
    <SlpRow class="slp-pb-32" style="border-bottom: solid">
      <SlpColumn :cols="6" size="md">
        <SlpTypography variant="heading3" tag="h3"
          >Learn more about
        </SlpTypography>
        <SlpTypography style="font-weight: 700" variant="heading3" tag="h3">{{
          data['features-name']
        }}</SlpTypography>
      </SlpColumn>
      <SlpColumn :cols="6" size="md">
        <SlpButton
          style="float: right"
          href="about.gitlab.com"
          variant="tertiary"
          >All resources</SlpButton
        >
      </SlpColumn>
    </SlpRow>
    <SlpRow>
      <SlpColumn
        :cols="12"
        size="md"
        style="
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 1rem;
        "
      >
        <a
          v-for="card in data['feature-resources-cards']"
          :key="card.name"
          class="slp-mt-48"
          style="display: block; color: black"
          href="card.link"
        >
          <img />
          <SlpTypography class="slp-pt-36" variant="all-caps" tag="span"
            >{{ card.type }}
          </SlpTypography>
          <img :src="card.image" :alt="card.name" />
          <SlpTypography
            class="slp-pt-24 slp-pb-64"
            variant="heading4"
            tag="h4"
          >
            {{ card.name }}
          </SlpTypography>
          <SlpTypography class="slp-pb-48" variant="body1" tag="p">
            {{ card.published_date }}
          </SlpTypography>
        </a>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>
